<nav class="navbar navbar-expand-md navbar-light sticky-top mb-8" id="navbarHeader">
  <div class="container-fluid">
    <h1>Kevin DA RE</h1>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
            aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
      <ul class="navbar-nav fw-bold">
        <li class="nav-item">
          <i class="fas fa-clock"></i>
          <a class="nav-link text-light js-scroll-trigger" href="#bio">A propos</a>
        </li>
        <li class="nav-item dropdown">
          
            <a class="dropdown-item js-scroll-trigger" href="#form-list" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Formations</a>
            <a class="dropdown-item js-scroll-trigger" href="#experience" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Experience</a>
            <a class="dropdown-item js-scroll-trigger" href="#competence" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Compétences</a>
            <a class="dropdown-item js-scroll-trigger" href="#proj-list" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Projets</a>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
