<nav class="navbar navbar-expand-sm bg-info navbar-light">
  <div class="container-fluid">
    <h1 class="col-sm-4">Kevin DA RE</h1>
    <ul class="navbar-nav col-sm-8 justify-content-around h2">
      <li class="nav-item">
        <a class="nav-link" href="#bio">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#competence">Compétences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projet">Projets</a>
      </li>
    </ul>
  </div>
</nav>
