<div id="competence">
  <div class="cmp">
    <h2>{{title}}</h2>
    <h3>Frameworks</h3>
    <div>
      <img class="logo-icons" src="../../assets/angular.png" alt="angularIcons"/>
      <img class="logo-icons" src="../../assets/vuejs.png" alt="vueIcons" />
      <img class="logo-icons" src="../../assets/node.png" alt="nodeIcons" />
    </div>
    <h3>Langages Web</h3>
    <div>
      <img class="logo-icons" src="../../assets/html.png" alt="htmlIcons" />
      <img class="logo-icons" src="../../assets/css.png" alt="cssIcons" />
      <img class="logo-icons" src="../../assets/js.png" alt="jsIcons" />
      <img class="logo-icons" src="../../assets/php.png" alt="phpIcons" />
      <img class="logo-icons" src="../../assets/sql.png" alt="sqlIcons" />
      <img class="logo-icons" src="../../assets/java.png" alt="javaIcons" />
    </div>
    <h3>IDE / Os / Logiciels</h3>
    <div>
      <img class="logo-icons" src="../../assets/vscode.png" alt="vscodeIcons" />
      <img class="logo-icons" src="../../assets/postman.png"alt="postmanIcons" />      
      <img class="logo-icons" src="../../assets/linux.png" alt="linuxIcons" />
      <img class="logo-icons" src="../../assets/github.png" alt="githubIcons" />
      <img class="logo-icons" src="../../assets/webstorm.png" alt="wsIcons" />
    </div>
  </div>
</div>
