
<div class="cmp">
        <h3>Frameworks</h3>
        <div>
        <img class="logo-icons" src="../../assets/angular.png" alt="githubIcons">
        <img class="logo-icons" src="../../assets/vuejs.png" alt="githubIcons">
        <img class="logo-icons" src="../../assets/node.png" alt="githubIcons">
        </div>
        <h3>Langages Web</h3>    
        <div>
            <img class="logo-icons" src="../../assets/html.png" alt="githubIcons">
            <img class="logo-icons" src="../../assets/css.png" alt="githubIcons">
            <img class="logo-icons" src="../../assets/js.png" alt="githubIcons">
            <img class="logo-icons" src="../../assets/php.png" alt="githubIcons">
            <img class="logo-icons" src="../../assets/sql.png" alt="githubIcons">
        </div>
        <h3>IDE / Os / Logiciels </h3> 
        <div>
            <img class="logo-icons" src="../../assets/vscode.png" alt="githubIcons">        
            <img class="logo-icons" src="../../assets/postman.png" alt="githubIcons">
            <img class="logo-icons" src="../../assets/linux.png" alt="githubIcons">
        </div>
</div>


