<div id="competence">
  <div class="cmp">
    <h2>{{title}}</h2>
    <h3>Frameworks</h3>
    <div class="d-flex justify-content-between align-items-baseline w-50">
      <div>
        <img class="logo-icons" [src]="skill.src" alt="angularIcons"/>
        <p></p>
      </div>
      <div>
        <img class="logo-icons" src="../../assets/vuejs.png" alt="vueIcons" />
        <p>VueJs</p>
      </div>
      <div>
        <img class="logo-icons" src="../../assets/node.png" alt="nodeIcons" />
        <p>Node Js</p>
      </div>
      
    </div>
    <h3>Langages Web</h3>
    <div class="d-flex justify-content-between align-items-baseline  w-25">
      <div>
        <img class="logo-icons" src="../../assets/sql.png" alt="sqlIcons" />
        <p>SQL</p>
      </div>
    </div>
    
    <h3>IDE / Os / Logiciels</h3>
    <div class="d-flex justify-content-between align-items-baseline  w-100">
      <div>
        <img class="logo-icons" src="../../assets/vscode.png" alt="vscodeIcons" />
        <p>VS Code</p>
      </div>
      <div>
        <img class="logo-icons" src="../../assets/postman.png"alt="postmanIcons" />
        <p>Postman</p>  
      </div>
      <div>
        <img class="logo-icons" src="../../assets/macos.png"alt="macosIcons" />
        <p>MacOs</p>      
      </div>
      <div>
        <img class="logo-icons" src="../../assets/linux.png" alt="linuxIcons" />
        <p>Linux</p>  
      </div>
      <div>
        <img class="logo-icons" src="../../assets/github.png" alt="githubIcons" />
        <p>GitHub</p>  
      </div>
      <div>
        <img class="logo-icons" src="../../assets/webstorm.png" alt="wsIcons" />
        <p>WebStorm</p>  
      </div>
    </div>
  </div>
</div>

