.backgroundAngular{
    background-color: #CAC403;
    color: #FFFFFF;
}
.backgroundVue{
    background-color: #21CD09;
    color: #FFFFFF;
}
.backgroundPHP{
    background-color: blueviolet;
    color: #FFFFFF;
}

.backgroundReact{
    background-color: #33AFFF;
    color: #FFFFFF;
}