<!--<app-projet *ngFor="let proj of projet" [projComp]="proj"></app-projet>-->
<div id="proj-list">

    <h1>{{title}}</h1>
    <h1>Angular</h1>
    <app-projet *ngFor="let proj of projAngular" [projComp]="proj"></app-projet>
    <h1>Vue Js</h1>
    <app-projet *ngFor="let proj of projVue" [projComp]="proj"></app-projet>
    <h1>PHP</h1>
    <app-projet *ngFor="let proj of projPHP" [projComp]="proj"></app-projet>
    <h1>React</h1>
    <app-projet *ngFor="let proj of projReact" [projComp]="proj"></app-projet>
</div>
