<!--<app-projet *ngFor="let proj of projet" [projComp]="proj"></app-projet>-->
<div id="proj-list">

    <h1>{{title}}</h1>

    <div class="accordion d-flex justify-content-between mb-5" id="ProjetAngular">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pannelAngular" aria-expanded="true" aria-controls="pannelAngular">
                <h1>Angular</h1>
            </button>
          </h2>
          <div id="pannelAngular" class="accordion-collapse collapse show" aria-labelledby="ProjetAngular">
            <div class="accordion-body">
                <app-projet *ngFor="let proj of projAngular" [projComp]="proj"></app-projet>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="ProjetVue">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pannelVueJs" aria-expanded="false" aria-controls="pannelVueJs">
                <h1>Vue Js</h1>
            </button>
          </h2>
          <div id="pannelVueJs" class="accordion-collapse collapse" aria-labelledby="ProjetVue">
            <div class="accordion-body">
                <app-projet *ngFor="let proj of projVue" [projComp]="proj"></app-projet>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="ProjetPHP">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pannelPHP" aria-expanded="false" aria-controls="pannelPHP">
                <h1>PHP</h1>
            </button>
          </h2>
          <div id="pannelPHP" class="accordion-collapse collapse" aria-labelledby="ProjetPHP">
            <div class="accordion-body">
                <app-projet *ngFor="let proj of projPHP" [projComp]="proj"></app-projet>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="ProjetReact">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pannelReact" aria-expanded="false" aria-controls="pannelReact">
                <h1>React</h1>
              </button>
            </h2>
            <div id="pannelReact" class="accordion-collapse collapse" aria-labelledby="ProjetReact">
              <div class="accordion-body">
                <app-projet *ngFor="let proj of projReact" [projComp]="proj"></app-projet>
              </div>
            </div>
          </div>
      </div>
</div>