<!--<app-projet *ngFor="let proj of projet" [projComp]="proj"></app-projet>-->
<div id="proj-list">

    <h2 class="mb-5 banner text-info">{{title}}</h2>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div>
            <figure class="d-flex flex-column align-items-center ">
              <img class="logo-projet" src="../../assets/cmp/angular.png" />          
              <a class="navbar-toggler d-flex justify-content-center collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#angularResponsive" aria-controls="angularResponsive"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-app mt-2" style="font-size:20px"></i></a>
            </figure>

            <div class="collapse navbar-collapse mb-3" id="angularResponsive">
              <app-projet *ngFor="let proj of projAngular" [projComp]="proj"></app-projet>
            </div>  
         </div>  
        </div>        

        <div class="col-12 col-md-4">
          <div>
            <figure class="d-flex flex-column align-items-center">
              <img class="logo-projet" src="../../assets/cmp/vuejs.png" />          
              <a class="navbar-toggler d-flex justify-content-center collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#vueResponsive" aria-controls="vueResponsive"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-app mt-2" style="font-size:20px"></i></a>
             </figure>
          
              <div class="collapse navbar-collapse mb-3" id="vueResponsive">
                <app-projet *ngFor="let proj of projVue" [projComp]="proj"></app-projet>
              </div> 
          </div>
        </div>

          

        <div class="col-12 col-md-4">
          <div>
            <figure class="d-flex flex-column align-items-center">
                <img class="logo-projet" src="../../assets/cmp/php.png" />          
                <a class="navbar-toggler d-flex justify-content-center collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#phpResponsive" aria-controls="phpResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-app mt-2" style="font-size:20px"></i></a>
            </figure>

            <div class="collapse navbar-collapse mb-3" id="phpResponsive">
              <app-projet *ngFor="let proj of projPHP" [projComp]="proj"></app-projet>
            </div>           
          </div>     
        </div>
      </div>
    </div>
  </div>