<div id="experience">
    <h2 class="mb-5">{{ title }}</h2>
    <p-timeline [value]="experience">
      <ng-template pTemplate="content" let-exp>
        {{ exp.duree }}
      </ng-template>
      <ng-template pTemplate="opposite" let-exp>
        <h3>{{ exp.titre }}</h3>
        <h4>{{ exp.entreprise }}</h4>
        <div *ngIf="exp.support">
          <h6 [ngStyle]="{'text-decoration': 'underline'}">Support: {{ exp.support }}</h6>
        </div>
        <p [innerHTML]="exp.description"></p>
      </ng-template>
    </p-timeline>
  </div>
