
<div id="bio">
        <div class="row">
            <div class="col-12 mb-5 col-md-6 d-flex flex-column align-self-center">
                <div class="d-flex flex-column my-auto align-items-center">
                        <img class="logo-perso img-fluid-w-25" src="../../assets/moi.png" alt="logo-perso">
                        <h3>Mes coordonnées </h3>
                        <p>N° Téléphone: {{ bio.tel }}</p>
                        <p>@: {{ bio.mail }}</p>
                            <h3>Mes réseaux </h3>
                        <div class="car-reseaux d-flex justify-content-around">
                            <div>
                                <a [href]="bio.github" target="_blank" rel="noopener noreferrer">
                                    <img class="logo-icons" src="../../assets/github.png" alt="githubIcons">
                                </a>
                            </div>
                            <div>
                                <a [href]="bio.linkedin" target="_blank" rel="noopener noreferrer">
                                    <img class="logo-icons" src="../../assets/linkedin.png" alt="linkedinIcons">
                                </a>
                            </div>    
                        </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" d-flex flex-column align-items-start text-justify">
                        <h1>Ma bio en quelques mots</h1>
                        <h5 [innerHTML]="bio.caractere"></h5><br>
                        <p>{{ bio.titre }}</p>
                        <p>Je m'appelle {{ bio.prenom }} {{bio.nom }}, j'ai {{ bio.age }} ans, je suis développeur web</p>
                        <p [innerHTML]="bio.description"></p>
                        
                </div>
            </div>
        </div>
</div>