<div id="section">
  <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mx-auto" data-bs-spy="scroll" data-bs-target="#navbarHeader"data-bs-smooth-scroll="true">
        <div class="mb-auto">
          <app-biographie></app-biographie>
        </div>
        <div class="mb-auto">
          <app-formation></app-formation>
        </div>

        <div class="mb-auto">
          <app-experience></app-experience>
        </div>

        <div class="mb-auto">
          <app-competence-list></app-competence-list>
        </div>

        <div class="mb-auto">
          <app-projet-list></app-projet-list>
        </div>
      </div>
  </div>
</div>

</div>
