<div id="section">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-12 mx-auto"
        data-bs-spy="scroll"
        data-bs-target="#navbarHeader"
        data-bs-smooth-scroll="true"
      >
        <div>
          <app-biographie></app-biographie>
        </div>
        <div>
          <app-formation></app-formation>
        </div>

        <div>
          <app-experience></app-experience>
        </div>

        <div>
          <app-competence-list></app-competence-list>
        </div>

        <div>
          <app-projet-list></app-projet-list>
        </div>
      </div>
    </div>
  </div>
</div>
