<app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto">
      <div class="mt-2">
        <app-biographie></app-biographie>
      </div>

      <div class="mt-2">
        <app-formation></app-formation>
      </div>

      <div class="mt-2">
        <app-experience></app-experience>
      </div>

      <div class="mt-2">
        <app-competence-list></app-competence-list>
      </div>

      <div class="mt-2">
        <app-projet-list></app-projet-list>
      </div>
    </div>
</div>
</div>
