
<div id="form-list">
        <h2 class="mb-5 banner text-info">{{title}}</h2>
        <div id="form">
                <p-timeline [value]="formation" class="w-full md:w-20rem" align="alternate">
                        <ng-template pTemplate="content" let-form>
                        <p>{{ form.date }}</p>
                        <h5>{{ form.nom }}</h5>
                        <p>{{ form.location }}</p>
                        </ng-template>
                </p-timeline>
        </div>
        
</div>