/* You can add global styles to this file, and also import other style files */

@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "primeicons/primeicons.css";

#section{
    background-image: url("../src/assets/bg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    color: aliceblue;
}

.banner{
    background-image: url("./assets/bg-header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 70px;
    
}

#form-list, #experience, #competence {
    height: 120vh;
}

#bio{
    height: 150vh
}

#proj-list{
    height:max-content
}

.logo-icons{
    width: 50px;
}

.logo-projet{
    width: 80px;
}

.component{
    margin-top: 10vh;
}

#exp {
    height: 80vh;
    overflow-y: scroll;
}
